fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
langchain
langchain-community
langchain-groq
langchain-ollama
pydantic[email]
easyocr
opencv-python-headless
pdf2image
openai-whisper
pydub
ffmpeg-python
audioop-lts
requests